@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Satisfy&display=swap');
body {background-color: #F8F0E5;}
* {
    color: #102C57;
}
.table {
    width: 50%;
}

.table thead tr th a {
    text-decoration: none;
    color: #606C5D; 

}
.table thead tr th {
    text-align: center;
}
.table thead tr th:hover{
    background-color: #bdd4b8;
    
}

.tabs {
    background-color: #d1e7dd;
    outline-style: solid;
    outline-color: #606C5D;
    outline-width: 5px;
}
.flex-container {
    display: flex;
}
.one {
    width: 70%;
    margin: 25px;
}
.two {
    width: 30%;
    margin: 25px;
    background-color: #EADBC8;
    outline: #DAC0A3 solid 5px;
}
.quote {
    width: 95%;
}
.img-container {
    position: relative;
    text-align: center;
    color: white;
    
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    color: white;
  }

  h2 {
    font-family: 'Satisfy', cursive;
  }
 .quote {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  }
img {
    width: 80%;
    border-radius: 10px;
    outline: #102C57 solid 4px;
    
}
.author {
    text-align: right;
    margin-right: 50px;
}