{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static './css/contact.css' %}">
{% endblock head %}
{% block body %}<br><br><br><br>
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <h3 class="color--white mb-5">Contact</h3>
                <p>Please fill the form for expressing your feedback and queries. We're excited to read your letters!!</p>
                <p>Thanks for contacting!</p>
    
                
            </div>
    
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form action="/sent" class="contact-form form-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Dominic ">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Torrento">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="someone@somewhere.com">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Téléphone</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="+91 9212757443">
                            </div>
                        </div>
    
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="message">Your Message</label>
                                <textarea class="form-control" id="message" name="message" rows="4" placeholder="Type your message here..."></textarea>
                            </div>
                        </div>
    
                        <div class="col-sm-12 mb-3">
                            <input type="submit" name="submit" class="btn btn-primary">
                        </div>
    
                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->
    
        </div>
    </div>
</div>
{% endblock body %}