{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block head %}

<link rel="stylesheet" href="{% static './css/index.css' %}">
{% endblock head %}

{% block body %}
<center class="tabs">
    <table class="table table-success table-hover">
        <thead>
        <tr>
            {% for url, letter in alphabet_pairs %}
                <th scope="col"><a href="{{ url }}">{{ letter }}</a></th>
            {% endfor %}
        </tr>
        </thead>
    </table>
</center>
<div class="flex-container">
    <div class="flex-item one">
        <center>
            <h1><u>Quote of the Day</h1></u> <br>
            <div class="img-container">
                <img height="450px" src="https://source.unsplash.com/random/800x450/?nature,dark" alt="">
                <h2 class="centered">{{quote}}</h2>
            </div>
            <br><br>
            <h3 class="quote">{{quote}}</h3>
        </center>
        <a href="{{url}}"><p class="author">By - <u><b><i>{{author}}</i></b></u></p></a>
    </div>
    <div class="flex-item two">
        <center>
            <h1><u>Popular</u></h1>
        </center><br><br><br><br>
        <ul>
            <li>
                <a href="persona?query=15121-Swami_Vivekananda">Swami Vivekananda</a>
            </li>
            <li>
                <a href="persona?query=8044-Martin_Luther_King_Jr">Martin Luther King Jr.</a>
            </li>
            <li>
                <a href="persona?query=9365-Nelson_Mandela">Nelson Mandela</a>
            </li>
            <li>
                <a href="persona?query=14414-Rabindranath_Tagore">Rabindranath Tagore</a>
            </li>
            <li>
                <a href="persona?query=7703-Abdul_Kalam">A.P.J. Abdul Kalam</a>
            </li>
        </ul>
        <br><br>
        <center>
            <div>
                <u><b> Made with ❤️ in India </b></u>
            </div>
        </center>
    </div>
</div>
{% endblock body %}