{% extends 'base.html' %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static './css/persona.css' %}">
{% endblock head %}
{% block body %}

    <br><u><center><h1>Quotes by {{quote_author}}</h1></center></u>
    <div class="flex-container">
        <div class="flex-item one">
            <ol  class="quote">
            {% for quote in quote_list %}
                <br><br>
                
                    <li>
                    <h3>{{quote}}</h3>
                    <br><hr>
                    </li>
                {% endfor %}
            </ol>    
        </div>
        <div class="flex-item two">
            <center>
                <h1><u>Popular</u></h1>
            </center><br><br><br><br>
            <ul>
                <li>
                    <a href="persona?query=15121-Swami_Vivekananda">Swami Vivekananda</a>
                </li>
                <li>
                    <a href="persona?query=8044-Martin_Luther_King_Jr">Martin Luther King Jr.</a>
                </li>
                <li>
                    <a href="persona?query=9365-Nelson_Mandela">Nelson Mandela</a>
                </li>
                <li>
                    <a href="persona?query=14414-Rabindranath_Tagore">Rabindranath Tagore</a>
                </li>
                <li>
                    <a href="persona?query=7703-Abdul_Kalam">A.P.J. Abdul Kalam</a>
                </li>
            </ul>
            <br><br>
            <center>
                <div>
                    <u><b> Made with ❤️ in India </b></u>
                </div>
            </center>
        </div>
    </div>    

{% endblock body %}
